.broadcast_container {
  width: 100%;
  height: 100%;
  flex: 1;
}

.broadcast_item {
  padding: 15px 0px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  transition: .3s;
}

.broadcast_item:hover {
  opacity: .5;
  transition: .3s;
}
