.nav-btn {
  background-color: transparent;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .3s;
  width: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn:hover {
  transition: .3s;
}
