.emoji {
  height: 40px;
  z-index: 1000;
  display: flex;
  border-radius: 30px;
  align-items: center;
  padding: 10px;
}





.reactions{
  height: 30px;
  display: flex;
  justify-content: flex-start;
 padding-left: 20px;

  
}

.reaction__emoji{
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  border-radius: 100%;
}

.reaction__emoji:hover{
  opacity: 0.5;;
}