.edit {
  height: 80px;
  background-color: #1b1d21;
  width: 100%;
  padding: 10px 30px 10px 65px;
  opacity: 0;
  display: none;
  transform: translateY(200px);
  z-index: 200;
  bottom: 80px;
  position: absolute;
}

.editOpen {
  opacity: 1;
  display: block;
  transform: translateY(0px);
  z-index: 200;
}

.edit__message {
  height: 100%;
  width: 100%;
  background-color: #222529;
  border-radius: 5px;
  border-left: 6px solid greenyellow;
  display: flex;
  padding: 5px;
  justify-content: center;
  padding-left: 10px;
}

.edit__message p {
  text-align: left;
}
